@model Product

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ürün ekleme</h1>
<form asp-action="AddProduct" asp-controller="Product" method="post">
    <label>ProductName</label>
    <br />
    <input asp-for="ProductName" type="text" />
    <br />
    <span asp-validation-for="ProductName"></span>
    <br />
    <label>Quantity</label>
    <br />
    <input asp-for="Quantity" type="number"/>
    <br />
    <span asp-validation-for="Quantity"></span>
    <br />
    <label>Email</label>
    <br />
    <input asp-for="Email" type="email"/>
    <br />
    <span asp-validation-for="Email"></span>
    <br />
    <button>Ekle</button>
</form>
